
html,body,#contents,.wrapper,#back{
  background-color: #001219;
  height: 100%;
  width: 100%;
  position: relative;
}

.wrapper{
  
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

header{
  position: fixed;
  width: 100%;
  background-color: #cb0006 ;
  
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

footer{
  position: fixed;
  width: 100%;
  background-color: #000;
  bottom:0;
  padding: 5px;
  text-align: right;
  font-size: 10px;
}

header h1{
  font-size: 20px;
}

header ul{
  display: flex;
  margin-left: auto;
}

header ul li{
  margin-left: 20px;
}

#contents{
  overflow: hidden;
}

#back{
  background-image: url(../images/main.jpg);
  background-size: cover;
  background-position: center ;
  top: 0;
  top:100%;
 } 


#back.anime{
  top: 0%;
  animation: fadeIn;
  animation-duration: 1s; 
}
#over{
  position: absolute;
  top: 34px;
  right: -700px;
  width: 700px;
  transition: 0.4s all;
}

#over.anime{
  right: 10px;
}


#battle{
  position: absolute;
  bottom:50px;
  max-width: 100%;
  left: -570px;
  width: 600px;
  transition: 0.4s all;
}

#battle.anime{
  left: 0px;
}

#logo{
  width: 58%;
  bottom: 20%;
  margin-left: -25%;
  left: 50%;
  position: absolute;
  opacity: 0;
}


#logo.anime {
  /* cssライブラリanimate.cを利用 */
  animation: fadeIn;
  animation-duration: 0.4s; 
  opacity: 1;
}

#start{
  position: absolute;
  bottom: 50px;
  right: -650px;
  width: 500px;
  transition: 0.4s all;
}

#start.anime{
  right: 10px;
}

#intro{
  position: fixed;
  display: flex;
  z-index: 101;
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #cb0006;
  font-family: serif;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  top: 0;
}